BBNcode/__pycache__/
BBNcode/tempreture_data.dat
BBNcode/*.ipynb
BBNcode/.ipynb_checkpoints/
BBNcode/*.db
BBNcode/elements/__pycache__/
BBNcode/elements/*.db
BBNcode/*.txt
BBNcode/*.pickle
BBNcode/*.log
